<span class="chips">
    <ul class="selected-chips">
        <li ng-repeat="s in $ctrl.selected track by s.id">
          {{ s.name }}
          <i ng-click="$ctrl.removeChip(s)" class="chip-remove fa fa-times">
          </i>
        </li>
    </ul>
    <input ng-model="$ctrl.uibSelected"
        placeholder="{{ $ctrl.placeholderText }}"
        uib-typeahead="t.name for t in $ctrl.available | filter:$viewValue"
        typeahead-on-select="$ctrl.add($item, $model, $label, $event)"
        typeahead-select-on-exact="true"
        class="form-control">
</span>
