<div class="post-header">
    <div class="featured-image">
        <i class="fa fa-picture-o fa-3x"></i>
    </div>
    <h2 class="post-title"></h2>
    <p class="post-excerpt"></p>
    <p class="post-author">{{ $ctrl.authorName }}</p>
</div>
<div class="post-body"></div>
<div class="post-settings">
    <md-input-container class="categories">
        <label>Post Categories</label>
        <md-chips ng-model="$ctrl.chips.categories" placeholder="Enter a category then press Enter" delete-button-label="Remove Category" delete-hint="Press delete to remove category"
            secondary-placeholder="+Category">
            <md-chip-template>
                <span>{{ $chip.name }}</span>
            </md-chip-template>
            
        </md-chips>
    </md-input-container>
    <md-input-container class="tags">
        <label>Post Tags</label>
        <md-chips ng-model="$ctrl.tags" md-max-chips="10" placeholder="Enter a tag then press Entersd" delete-button-label="Remove Tag"
            delete-hint="Press delete to remove tag" secondary-placeholder="+Tag">
        </md-chips>
    </md-input-container>
</div>
<i class="icons icon-user"><i>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
<style scoped>
    new-post.cover-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .post-header {
        min-height: 80vh;
        text-align: center;
        background: #222;
        color: #fff;
        overflow: auto;
    }
    .featured-image {
        margin-top: 200px;
        margin-bottom: 40px;
    }
    .post-title {
        max-width: 90%;
        margin: 0px auto;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 60px;
        color: #fff;
    }
    .post-excerpt {
        margin: 0 auto;
        max-width: 70%;
    }
    .post-title, .post-excerpt, .post-body { outline: none; }
    .post-author {
        margin-top:100px;
        margin-bottom: 50px;
    }
    .post-body {
        min-height: 400px;
        max-width: 800px;
        margin: 0 auto 100px;
        padding: 30px;        
    }

    .post-settings {
        background: #eee;
        padding: 30px;
    }

    md-input-container.categories, md-input-container.tags {
        width: 100%;
        margin-bottom: 40px;
    }

    /* medium editor */
    .medium-editor-placeholder:after {
        color: #999;
        font-style: normal;
        width: 100%;
        margin: 0 auto;        
    }
    .md-errors-spacer { display: none }

</style>