<div class="post-header">
    <upload-file>    
        <simple-editor name="post-title-editor" class="post-title" placeholder="Name Your Story" text="$ctrl.postTitle"></simple-editor>
        <simple-editor name="post-excerpt-editor" class="post-excerpt" placeholder="Write a short introduction" text="$ctrl.postExcerpt"></simple-editor>
        <p class="post-author">{{ $ctrl.authorName }}</p>
        <md-input-container class="cities">
            <md-autocomplete
            md-selected-item="$ctrl.postLocation"
            md-search-text="$ctrl.cityQuery"
            md-items="item in $ctrl.citySearch($ctrl.cityQuery)"
            md-item-text="item.name"
            md-min-length="0"
            placeholder="Where are you writing from?">
            <md-item-template>
            <span md-highlight-text="$ctrl.cityQuery">{{item.name + ', ' + item.country}}</span>
            </md-item-template>
        </md-autocomplete>
        </md-input-container>
    </upload-file>
</div>
<div class="post-body"></div>
<div class="post-settings">
    <md-input-container class="categories">
        <label>Post Categories</label>
        <md-chips ng-model="$ctrl.chips.categories" md-autocomplete-snap md-require-match="true" placeholder="Enter a category then press Enter"
            delete-button-label="Remove Category" delete-hint="Press delete to remove category" secondary-placeholder="+Category">
            <md-autocomplete md-search-text="$ctrl.searchText" md-items="item in $ctrl.categorySearch($ctrl.searchText)" 
                md-item-text="item.name" placeholder="Search for a category">
                <span md-highlight-text="$ctrl.searchText">{{ item.name }} </span>
            </md-autocomplete>
            <md-chip-template>
                <span>{{ $chip.name }}</span>
            </md-chip-template>
        </md-chips>
    </md-input-container>
    <md-input-container class="tags">
        <label>Post Tags</label>
        <md-chips ng-model="$ctrl.chips.tags" md-autocomplete-snap placeholder="Enter a tag then press Enter" md-transform-chip="$ctrl.transformChip($chip)"
            delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+Tag">
            <md-autocomplete md-search-text="$ctrl.tagSearchText" md-items="item in $ctrl.tagSearch($ctrl.tagSearchText)" 
                md-item-text="item.name" placeholder="Search for a tag">
                <span md-highlight-text="$ctrl.tagSearchText">{{ item.name }} </span>
            </md-autocomplete>
            <md-chip-template>
                <span>{{ $chip.name }}</span>
            </md-chip-template>
        </md-chips>
    </md-input-container>
    <button md-button>More Options</button>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
<style scoped>
    new-post.cover-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .post-header {
        min-height: 80vh;
        text-align: center;
        background: #222;
        color: #fff;
        overflow: auto;
    }

    .featured-image {
        margin-top: 200px;
        margin-bottom: 40px;
    }

    .post-title {
        max-width: 90%;
        margin: 0px auto;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 60px;
        color: #fff;
    }

    .post-excerpt {
        margin: 0 auto;
        max-width: 70%;
    }

    .post-title,
    .post-excerpt,
    .post-body {
        outline: none;
    }

    .post-author {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .post-body {
        min-height: 400px;
        max-width: 800px;
        margin: 0 auto 100px;
        padding: 30px;
    }

    .post-settings {
        background: #eee;
        padding: 30px;
    }

    md-input-container.categories,
    md-input-container.tags {
        width: 100%;
        margin-bottom: 40px;
    }

    i.icons {
        font-size: 40px;
        line-height: 2;
    }
    /* medium editor */

    .medium-editor-placeholder:after {
        color: #999;
        font-style: normal;
        width: 100%;
        margin: 0 auto;
    }

    .md-errors-spacer {
        display: none
    }

    .md-button.md-fab {
        width: 80px;
        height: 80px;
    }
</style>