<div class="post-header">
    <upload-file progress="$ctrl.progress($uploadPercent)" upload-id="$ctrl.state.featured_media" upload-url="$ctrl.featuredImage">
        <simple-editor name="post-title-editor" placeholder="Name Your Story" text="$ctrl.state.title.rendered"></simple-editor>
        <simple-editor name="post-excerpt-editor" placeholder="Write a short introduction" text="$ctrl.state.excerpt.rendered"></simple-editor>
        <p class="post-author">{{ $ctrl.authorName }}</p>
        <div class="cities">
            <input placeholder="Where are you writing from?" type="text" ng-model="$ctrl.postLocation" uib-typeahead="c for c in $ctrl.ALL_CITIES | filter:$viewValue | limitTo:5"
                class="form-control">
        </div>
    </upload-file>
</div>
<div class="post-body"></div>
<div class="post-settings">
    <label>Categories</label>
    <input placeholder="Search for Categories" type="text" ng-model="$ctrl.chips.categories" uib-typeahead="c.slug for c in $ctrl.chips.allCategories | filter:$viewValue | limitTo:5"
        class="categories form-control">
    <label>Tags</label>
    <input placeholder="Search for tags" type="text" ng-model="$ctrl.chips.tags" uib-typeahead="t.slug for t in $ctrl.chips.allTags | filter:$viewValue | limitTo:5"
        class="tags form-control">
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
<style scoped>
    new-post.cover-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .post-header {
        min-height: 80vh;
        text-align: center;
        background: #222;
        color: #fff;
    }

    .featured-image {
        margin-top: 200px;
        margin-bottom: 40px;
    }

    .post-title-editor {
        max-width: 90%;
        margin: 0px auto;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 60px;
        color: #fff;
    }

    .post-excerpt-editor {
        margin: 0 auto;
        max-width: 70%;
    }

    .post-title-editor,
    .post-excerpt-editor,
    .post-body {
        outline: none;
    }

    .post-author {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .cities {
        position: absolute;
        right: 10px;
        bottom: -33px;
        z-index: 1;
        font-size: 90%;
    }

    .cities input, .cities input:focus {
        background: transparent;
        color: #fff;
        border: 2px solid transparent;        
    }
    .cities input:focus {
        border-bottom: 2px solid #aaa;
    }

    .post-body {
        min-height: 400px;
        max-width: 800px;
        margin: 0 auto 100px;
        padding: 30px;
    }

    .post-settings {
        background: #eee;
        padding: 30px;
    }

    .post-settings label {
        background: white;
        padding: 10px 18px;
        border: 1px solid #ccc;
        border-bottom: none;
        background: #f3f3f3;
        text-transform: uppercase;
        font-family: sans-serif;
        font-size: 70%;
        font-weight: 600;
    }

    .post-settings input {
        margin: 15px auto;
        border: none;
        box-shadow: 0 0 20px #d1d1d1;
        border: 1px solid #ccc;
        padding: 16px;
        margin-top: 3px;
    }
    .post-settings input.categories {
        margin-bottom: 40px;
    }

    .post-settings ul.dropdown-menu,
    .cities ul.dropdown-menu {
        position: absolute;
        background: white;
        z-index: 999;
        padding: 10px 15px;
        list-style: none;
        border: 1px solid #ccc;
        border-top: none;
    }

    i.icons {
        font-size: 40px;
        line-height: 2;
    }
    /* medium editor */

    .medium-editor-placeholder:after {
        color: #999;
        font-style: normal;
        width: 100%;
        margin: 0 auto;
    }

    .md-errors-spacer {
        display: none
    }

    .hidden {
        display: none;
    }
</style>