<div ngf-drop="$ctrl.upload($file)" ng-model="$ctrl.file" class="angularize-drop-box" ngf-drag-over-class="'dragover'" ngf-pattern="'image/*,application/pdf'">


  <img class="preview" ngf-thumbnail="$ctrl.file">
  <div class="angularize-select-file fa fa-picture-o fa-5x" ngf-select="$ctrl.upload($file)" ng-model="$ctrl.file" name="file"
    ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 200, height: 200}">
  </div>
  <simple-editor class="angularize-caption" placeholder="What's happening in this photo?" text="$ctrl.caption"></simple-editor>
</div>
<style scoped>
  .angularize-drop-box {
    background: #f1f1f1;
    border: 2px dashed #ccc;
    position: relative;
    overflow: hidden;
  }

  img.preview {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .angularize-select-file {
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    color: #bbb;
    position: relative;
  }

  .angularize-caption {
    position: relative;
    bottom: 10px;
    left: 10px;
    outline: none;
    border:none;
    max-width: 300px;
  }
</style>