Upload on form submit or button click Single Image with validations
<div class="button" ngf-select="$ctrl.upload($file)" ng-model="$ctrl.file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'"
  ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 200, height: 200}">Select Image</div>
  
Drop File:
<div ngf-drop="$ctrl.upload($file)" ng-model="$ctrl.file" class="drop-box" style="width: 200px; height:200px; background: #ccc"
  ngf-drag-over-class="'dragover'" ngf-pattern="'image/*,application/pdf'">Drop Images or PDFs files here</div>

Image thumbnail: <img ngf-thumbnail="$ctrl.file">