<div class="btn-toolbar" role="toolbar">
    <button type="button" class="btn-group btn btn-default" ng-repeat="s in $ctrl.selected track by s.id">
        <span>{{ s.name }}</span><span>Remove</span>
    </button>
    <input
        class="btn-group form-control" role="group" type="text"
        ng-model="$ctrl.uibSelected" 
        placeholder="{{ $ctrl.placeholderText }}" 
        uib-typeahead="t.name for t in $ctrl.available | filter:$viewValue"
        typeahead-on-select="$ctrl.add($item, $model, $label, $event)" 
        typeahead-select-on-exact="true">
</div>