<div>
    <h3 class="padding-sm dark">Editorial Component</h3>
	<uib-tabset class="tabs" active="active" type="pills">
		<div class="tab-content">
			<uib-tab class="tab-pane active" index="0" heading="Pending Review">
				<div class="list-group">
					<a href="{{ post.attr('link') }}" class="list-group-item" ng-repeat="post in $ctrl.pendingPosts">
								<span class="badge"><i class="fa fa-clock-o">{{ post.attr('date') | timesince }} ago</i></span>
								<h3 class="post-title-editor h2" ng-bind="post.attr('title')"></h3>
								<p class="post-status" ng-bind="post.authorName"></p>
							</a>
				</div>
			</uib-tab>
			<uib-tab class="tab-pane" index="1" heading="Draft">
				<div class="list-group">
					<a href="{{ post.attr('link') }}" class="list-group-item" ng-repeat="post in $ctrl.draftPosts">
								<span class="badge"><i class="fa fa-clock-o">{{ post.attr('date') | timesince }} ago</i></span>
								{{ post.attr('title') }}            
							</a>
				</div>
			</uib-tab>
		</div>
    </uib-tabset>
    
</div>
