<div class="panel panel-default">
    <h3 class="panel-heading panel-title">My Posts</h3> 
    <ul class="media-list" style="overflow-y: scroll; max-height:500px">
        <li class="media padding-sm" ng-repeat="post in $ctrl.posts">
            <div class="media-left">
                <a class="img-border" href="{{ post.attr('link') }}">
                    <img class="media-object" width="180px" ng-src="{{ post.featuredImage }}" alt="Featured Image">
                </a>
            </div>
            <div class="media-body underline">
                <h4 class="media-heading"><a href="{{ post.attr('link') }}" ng-bind="post.attr('title')"></a></h4>
                <p ng-bind="post.attr('excerpt')"></p>
                <p>Created {{ post.attr('date') | timesince }} ago</p>
                <p>Post category? view count? score card? </p>
                <post-status status="post.state.status" style="margin-top:30px; display:block"></post-status>
            </div>
            <div class="media-right">
                <a href="{{ post.editLink }}" class="btn btn-primary btn-block">Edit Post</a>
                <button ng-click="$ctrl.delete(post.attr('id'))" class="btn btn-danger btn-block">Delete Post</button>
            </div>
        </li>
    </ul>
    <div class="panel-footer">
        <button ng-click="$ctrl.dismiss()" class="btn btn-primary">Close</button>
        <button ng-click="$ctrl.refresh()" class="btn btn-primary">Refresh</button>
    </div>
</div>