<div>
    <upload-file class="wide" upload-id="$ctrl.state.featured_media" upload-url="$ctrl.featuredImage"><i class="fa fa-camera fa-5x"></i></upload-file>
    <h2 simple-editor class="post-title-editor" class="h2" placeholder="Enter the Title of Your Story" text="$ctrl.state.title">Pre text here</h2>
    <p simple-editor class="post-excerpt-editor" placeholder="Write a short introduction" text="$ctrl.state.excerpt">sdfadfd dfad</p>
    <p class="post-author">{{ $ctrl.authorName }}</p>
    <div class="cities">
        <input placeholder="where are you telling this story from?" type="text" ng-model="$ctrl.state.meta.angularize_location" typeahead-min-length="3"
            uib-typeahead="c for c in $ctrl.city_names | filter:$viewValue" class="form-control">
    </div>
    <div full-editor name="post-body-editor full-medium-editor" placeholder="Write your story here" text="$ctrl.state.content"></div>    
    <div class="post-settings">
        <chips class="categories" 
            empty-text="Search for Categories" 
            some-text="Add more categories" 
            available="$ctrl.chips.allCategories"
            selected-ids="$ctrl.state.categories"
            selected="$ctrl.chip.categories"></chips>
        
        <chips 
            empty-text="Search for Tags" 
            some-text="Add more tags" 
            available="$ctrl.chips.allTags" 
            selected-ids="$ctrl.state.tags"
            selected="$ctrl.chips.tags"></chips>

        <post-status status="$ctrl.state.status"></post-status>
    </div>
</div>
<toaster-container></toaster-container>

<style scoped>
    new-post.cover-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .featured-image {
        margin: 40px auto;
    }

    .post-title-editor,
    .post-excerpt-editor,
    .post-author {
        padding: 15px;
        text-align: center;
    }

    .post-title-editor,
    .post-excerpt-editor,
    .post-body-editor {
        outline: none;
    }

    .post-settings {
        background: #eee;
        padding: 30px;
    }

    .post-settings ul.dropdown-menu,
    .cities ul.dropdown-menu {
        position: absolute;
        background: white;
        z-index: 999;
        padding: 10px 15px;
        list-style: none;
        border: 1px solid #ccc;
        border-top: none;
    }

    .post-settings chips {
        margin-bottom: 40px;
        display: block;
    }

    .medium-editor-placeholder:after {
        color: #444;
        font-style: normal;
        width: 100%;
        margin: 0 auto;
    }
</style>