<div>
    <img-upload name="featured-image" img-url="$ctrl.featuredImage" img-id="$ctrl.state.featured_media" class="wide"></img-upload>
    <simple-editor name="post-title-editor" class="h2" placeholder="Enter the Title of Your Story" text="$ctrl.state.title"></simple-editor>
    <simple-editor name="post-excerpt-editor" placeholder="Write a short introduction" text="$ctrl.state.excerpt"></simple-editor>
    <p class="post-author">John Wiskey</p>
    <div class="cities">
        <input placeholder="where are you telling this story from?" type="text" ng-model="$ctrl.state.meta.angularize_location" typeahead-min-length="3"
            uib-typeahead="c for c in $ctrl.city_names | filter:$viewValue" class="form-control">
    </div>
    <full-editor name="post-body-editor" class="long container" placeholder="Write your story here" text="$ctrl.state.content"></full-editor>    
    <div class="post-settings">
        <chips class="categories" empty-text="Search for Categories" some-text="Add more categories" available="$ctrl.chips.allCategories"
            selected="$ctrl.chips.categories" on-change="$ctrl.updateCategories($selected)"></chips>
        
        <chips empty-text="Search for Tags" some-text="Add more tags" available="$ctrl.chips.allTags" on-change="$ctrl.updateTags($selected)"
            selected="$ctrl.chips.tags"></chips>
    </div>
</div>

<style scoped>
    new-post.cover-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .featured-image {
        margin: 40px auto;
    }

    .post-title-editor,
    .post-excerpt-editor,
    .post-author {
        padding: 15px;
        text-align: center;
    }

    .post-title-editor,
    .post-excerpt-editor,
    .post-body-editor {
        outline: none;
    }

    .post-settings {
        background: #eee;
        padding: 30px;
    }

    .post-settings ul.dropdown-menu,
    .cities ul.dropdown-menu {
        position: absolute;
        background: white;
        z-index: 999;
        padding: 10px 15px;
        list-style: none;
        border: 1px solid #ccc;
        border-top: none;
    }

    .post-settings chips.categories {
        margin-bottom: 40px;
        display: block;
    }

    .medium-editor-placeholder:after {
        color: #444;
        font-style: normal;
        width: 100%;
        margin: 0 auto;
    }
</style>