
upload-file {
    &.wide .inner-container {
        display: block;
        background: #f1f1f1;
        min-height: 300px;
        position:relative;
    }
    img {
        width: 100%;
    } 
    ng-transclude {
        position: absolute;
        left: 50%;
        top: 50%;
        color: #aaa;
        transform: translateX(-50%) translateY(-50%);
    }
}

.medium-editor-element[full-editor] {
    min-height: 600px;
}

.medium-editor-element {
    padding: 20px 30px 0;
    min-height: 70px;
    outline: none;
}
.medium-editor-element[data-medium-focused="true"] {
    background: #f5f5f5;
}

// for centering placeholder [ make this a class ]
.medium-editor-placeholder:after {
    color: #444;
    width: 100%;
    margin: 0 auto;
}


chips {
    button {
        span:last-child { display: none; }
        &:hover span:last-child { display: inline; }
        &:hover span:first-child { display: none; }
    }
    .btn-group { margin: 5px auto; }
}

toolbar {
    position: fixed;
    bottom: 40px;
    left: 20px;
    width: 100%;
}

new-post {
    .cities {
        max-width: 200px;
        margin: 0 auto;
    }
}

reaction {
    .em {
        font-size: 200%;
    }
}


.nav-tabs {
    margin-left: 0;
    background: #eee;
}