<div 
  title="Drag and drop image here or click to select image" 
  ngf-drop="$ctrl.upload($file)" 
  ng-model="$ctrl.file" 
  class="inner-container" 
  ngf-accept="'image/*'" 
  ngf-drag-over-class="'dragover'" 
  ngf-select="$ctrl.upload($file)" 
  ngf-pattern="'image/*'">
  <img 
    class="img-responsive img-thumbnail"
    ngf-thumbnail="$ctrl.file" 
    ngf-min-height="100" 
    ngf-accept="'image/*'">
  <img 
    class="img-responsive img-thumbnail"
    ng-hide="$ctrl.newImage"
    ng-src="{{ $ctrl.uploadUrl }}">
  <ng-transclude></ng-transclude>
</div>